<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>主页面</title>
  <style>
    .mainBox {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .mainBox .item {
      margin: 10px auto;
    }
  </style>
</head>

<body>
  <div class="mainBox">
    <h2>请选择以下操作</h2>
    <div class="item">
      <a href="/api/user/register">用户注册</a>
    </div>
    <div class="item">
      <a href="/api/user/login">用户登录</a>
    </div>
  </div>
</body>

</html>