{% extends 'layout.html' %}

{% block content %}
<div class="content">
  <div class="show">
    <h2>{{content.title}}</h2>
    <div class="tips">
      <span>作者：<a href="#">{{content.user.username}}</a></span>
      <span>时间：<a href="#">{{content.addTime|date('Y年m月d日 H:i:s',-8*60)}}</a></span>
      <span>阅读：<a href="#">{{content.views}}</a></span>
      <span>评论：<a href="#">{{content.comments.length || 0}}</a></span>
      <span>分类：<a href="#">{{content.category.name}}</a></span>
    </div>
    <div class="desc">{{content.content}}</div>
  </div>

  <div class="show">
    <div style="display: flex;justify-content: space-between;align-items: center;font-size: 12px;">
      <span>评论</span>
      <span>一共有 {{content.comments.length || 0}} 条评论</span>
    </div>

    <form action="/admin/comment/submit?id={{content.id}}" method="post"
      style="display: flex;justify-content: space-between;align-items: center;margin: 20px;">
      <textarea style="width: 90%;height: 60px;" name="comment"></textarea>
      <input type="submit" value="提交" style="width:8%;height: 50px;background: #409EFF;border: none;color: #fff;" />
    </form>

    {% for comment in content.comments %}
    <div>
      <div style="display: flex;justify-content: space-between;align-items: center;font-size: 12px;color: #999;">
        <span>{{comment.username}}</span>
        <span>{{comment.postTime|date('Y年m月d日 H:i:s',-8*60)}}</span>
      </div>
      <div style="padding: 30px;box-sizing: border-box;color: #666;font-size:14px;">{{comment.comment}}</div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}